body {
	font-family: 'Quicksand', sans-serif;
	width: 700px;
	border-style: none;
	margin-left: auto;
	margin-right: auto;
	background-color: #16181C;
	color: #DCDCDC;
	font-size: 14px;
}

h1 {
	text-align: center;
	font-size: 18px;
	font-weight: lighter;
	margin: 30px 0 8px 0;
}

h3 {
	text-align: center;
	font-size: 12px;;
	font-weight: lighter;
	margin: 8px 0 10px 0;
}

textarea {
	width: 700px;
	height: 300px;
	padding: 4px 7px;
	border: none;
	border-radius: 4px;
	color: #FFFFFF;
	margin: 0 0 15px 0;
	background-color: #282C34;
    outline: none;
}

#buttons {
	width: 600px;
	text-align: center;
	margin: 10px auto 0 auto;
}

#parse, #clear {
	width: 75px;
	margin: 0 2px 0 2px;
}

.options {
	text-align: center;
	margin: 0 auto 0 auto;
}

#dropDown {
	margin: 0 5px 0 5px;
	outline: none;
}

#cleanVariablesText, #cleanParamsText {
	font-size: 12px;
	font-weight: lighter;
}

#functionName {
	width: 120px;
	border: none;
	border-radius: 2px;
	outline: none;
	text-align: center;
	margin: 0 5px 0 5px;
}
