body {
	font-family: 'Quicksand', sans-serif !important;
	width: 100%;
	border-style: none;
	margin: 0 auto 0 auto;
	background-color: #16181C;
	color: #DCDCDC;
	font-size: 14px;
}

.title {
	width: 100%;
	display: inline;
}

.title h1 {
	text-align: center;
	font-size: 20px;
	font-weight: 300;
	padding: 15px;
	background-color: #DCDCDC;
}

.title a {
	text-align: center;
	text-decoration: none;
	color: #16181C;
}

.title a:hover {
	color: #486bab;
}

.title .github-logo {
	position: absolute;
	width: 20px;
	height: 20px;
	right: 0;
	margin-right: 10px;
	fill: #16181C;
}

.main {
	max-width: 70%;
	margin: 0 auto 0 auto;
}

#input-text, #output-text {
	width: 100%;
	display: flex;
	margin: 30px 0 10px 0;
}

h2 {
	width: 50%;
	text-align: left;
	font-size: 16px;
	font-weight: lighter;
	padding: 0 10px;
	margin: 0 0;
}

h3 {
	width: 50%;
	text-align: right;
	font-size: 12px;
	font-weight: lighter;
	padding: 0 10px;
	margin: 0 0;
}

textarea {
	width: 100%;
	height: 300px;
	padding: 15px;
	font-size: 12px;
	font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;
	border: none;
	border-radius: 8px;
	color: #FFFFFF;
	margin: 0 0;
	background-color: #282C34;
	outline: none;
	resize: vertical;
}

#parse, #clear, #copy {
	min-width: 75px;
	min-height: 20px;
	padding: 3px 10px;
	border: none;
	border-radius: 8px;
	margin: 5px 2px 0 2px;
	background-color: #DCDCDC;
	outline: none;
}

#parse:hover, #clear:hover, #copy:hover {
	background-color: #486bab;
	color: #DCDCDC;
}

#parse:active, #clear:active, #copy:active {
	background-color: #486898;
	color: #DCDCDC;
}

.options {
	margin: 10px 0;
	text-align: center;
}

#dropDown {
	margin: 0 5px 0 5px;
	height: 20px;
	outline: none;
	border: none;
	border-radius: 8px;
	background-color: #DCDCDC;
}

#dropDown:hover {
	background-color: #486bab;
	color: #DCDCDC;
}

#cleanVariablesText, #cleanParamsText {
	font-size: 12px;
	font-weight: lighter;
}

#functionName {
	width: 120px;
	height: 20px;
	border: none;
	border-radius: 8px;
	outline: none;
	text-align: center;
	margin: 0 5px 0 5px;
	background-color: #DCDCDC;
}

#outputTextArea {
	opacity: 0;
	height: 0;
	width: 0;
}

#outputPre {
	border-radius: 8px;
	min-height: 300px;
	padding: 15px;
	margin: 0 0;
	background: #282C34 !important;
}

#output {
	font-size: 12px;
	font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;
}
